@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}
  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}
  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-LightItalic.ttf) format('truetype');
    font-weight: italic;
}

body {
  margin: 0rem;
}

header {
  background-color: #1F2937;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding: 2%;
  position: fixed;
  width: 100%;
  top: 0;
}

.fixed-header {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.logo {
  display: flex;
  flex-grow: 1;
  width: 10%;
  height: auto;
}

.links {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.links a {
  color: #fff;
  text-decoration: none;
}

.main {
  background-color: #fff;
}

.row {
  display: flex; 
}

.hero {
  background-color: #1F2937;
  padding: 2%;
  padding-top: 7%;
}
.hero-detail {
  display: flex;
  margin-bottom: 3.12rem;
  flex-direction: column;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #fff;
  margin-left: 5%;
}

.hero-detail > h1 {
  font-weight: 3em;
  padding-bottom: 0%;
}

.hero-detail > p {
  font-weight: 1.12em;
  filter: contrast(70%);
  padding-top: 0%;
  padding-bottom: 0%;
}

.hero-detail > button {
  display: flex;
  flex-shrink:0;
  flex-grow: 1;
  justify-content: center;
  margin-right: 5%;
  border-radius: 0.31rem;
  width: 20%;
  height: 10%;
  padding-left:0.31rem; 
  padding-right:0.31rem; 
  background-color: #3882f6;
  color: #fff;
  font-size: 1.12em;
  border: none;
}

.hero-image {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-right: 5%;
}

.hero-image > img {
  width: 60%;
  height: auto;
}

.info-block {
  padding: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.info-title > h2 {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 2.25em;
  text-align: center;
  padding-bottom: 5%;
}

.info-items {
  justify-content: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  justify-content: center;
}

.info-item-image {
  border-radius: 0.31rem;
  border: 2px solid #3882f6;
  height: 9.37rem;
  width: 9.37rem;
}

.info-item-text {
  text-align: justify;
  overflow-wrap: break-word;
  font-family: Roboto, sans-serif;
  font-size: 0.87em;
  font-weight: normal;
  text-align: center;
}

.quote-block {
  flex-direction: column;
  background: #E5E7EB;
  color: #1F2937;
  padding: 10%;
}

.quote-block-text {
  font-family: Roboto, sans-serif;
  font-weight: italic;
  font-size: 2.25em;
  text-align: justify;
}

.quote-block-author {
  display: flex;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  flex-direction: row-reverse;
}

.action {
  background-color: #3882f6;
  padding: 3%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 0.31rem;
}
.action-detail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #fff;
}

.action-detail-title {
  display: flex;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-align: justify;
}

.action-detail-description {
  display: flex;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 0.75em;
  text-align: justify;
}

.action > button {
  display: flex;
  flex-shrink:0;
  justify-content: center;
  margin-right: 5%;
  border-radius: 0.31rem;
  width: 20%;
  height: 10%;
  padding-left: 0.31rem; 
  padding-right: 0.31rem; 
  background-color: #3882f6;
  color: #fff;
  font-size: 1.12em;
  border: 0.12rem solid #fff; 
}

.fixed-footer {
  background-color: #1F2937;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #fff;
  text-align: center;
  padding: 5%;
}
